* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fca311;
  letter-spacing: 5px;
}

body {
  background-image: url("/img/peter-gargiulo-cGNCepznaV8-unsplash.jpg");
  background-size: cover;
}

.header {
  margin: 0 auto;
  text-align: center;
}

.main {
  height: 500px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
